
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a:hover {
    color: tomato;
}

header{
    /*background-color: black;*/
    margin-bottom: 20px;
    padding-bottom: 20px;
    
}


header div.topHeader{
    background-color: rgb(78, 44, 44);
    padding: 0px;
    /*position:fixed;*/
    top: 0px;
    /*z-index: 9;*/
    width: 100%;
    display: inline-flex;

   /* background-color: black;
    padding: 20px;
    position:sticky;
    top: 0px;
    z-index: 9;
    width: 100%;*/
}

header div.topHeader div.topMenu{
    width: 80%;
}

header div.topHeader.logo{
    padding: 10px;
    position: relative;
    width: 20%;

}

header div.topHeader div.topMenu nav ul li{
    display: inline;
    margin: 0 20px;
    /*background-color: black;*/
}

header div.topHeader div.topMenu nav ul li a{
    color: white;
    text-decoration: none;
}



header div.bannerPrinci{
    background-color: rgb(16, 16, 163);
    color: slategray;
    width:auto;
    overflow: hidden;
}
header div.bannerPrinci a{
    color: darkslategrey;
}   
    
header div.mainMenu{
    /*margin: 20px 20px;*/
    padding: 20px 0 20px 0;
    background-color: gray;
    margin: 0px auto;
    box-sizing: border-box;
    position: sticky;
    z-index: 9;
    width: 100%;
    
}
header div.mainMenu nav ul li{
    display: inline;
    padding: 0 20px;
    /*position:relative;*/
    /*background-color: black;*/
}

header div.mainMenu nav ul li a{
    color: white;
    text-decoration: none;
}


/* clases de Bootstrap*/
body nav.bg-propio-topbar{
    background-color: rgb(78, 44, 44);
}

/**INDEX.HTML**/

/**INDEX**SECTION** Servicios y productos*/
section div.serviProd{
    margin:30px 0 50px 0;
}

section div.serviProd h2{
    text-align: center;
}

section div.serviProd div.servIma{
   /* background-color: black;*/
    width: 90%;
    margin: 10px 5%;
    /*display: block;*/
    padding: 0 auto;
    overflow: hidden;
    
}

section div.serviProd div.servIma div.item {
    /*background-color: blueviolet;*/
    float: left;
    padding: 10px 20px;
    width: 33.3%;
}



/**INDEX**SECTION** Coti*/
section div.call2Coti{
    background-color: lightgrey;
    text-align: center;
    padding: 50px 0 55px 0;
}

section div.call2Coti p{
    padding-top: 20px;
    text-align: center;
}
section div.call2Coti button{
    background-color: orangered;
    border-color: rgb(8, 8, 8);
    border-radius: 20%;
    text-align: center;
    padding: 10px 10px 10px 10px;
}



/**INDEX**SECTION** ALGUNOS TRABAJOS*/
section div.proy{
    margin:30px 0 50px 0;
}

section div.proy h2{
    text-align: center;
}

section div.proy div.proyIma{
   /* background-color: black;*/
    width: 90%;
    margin: 10px 5%;
    /*display: block;*/
    padding: 0 auto;
    overflow: hidden;
    
}

section div.proy div.proyIma div.item {
   /* background-color: blueviolet;*/
    float: left;
    padding: 10px 20px;
    width: 25%;
}



/**INDEX**SECTION** CONTACTO*/
section div.contacto{
    background-color: lightgrey;
    text-align: center;
    padding: 50px 0 55px 0;
}

section div.contacto form{
    padding-top: 20px;
    text-align: center;
}
section div.contacto form #boton{
    background-color: orangered;
    border-color: rgb(8, 8, 8);
    border-radius: 20%;
    text-align: center;
    padding: 10px 10px 10px 10px;
}



/**INDEX**FOOTER*/
footer{
    /*background-color: black;*/
    
    padding: 20px 20px 35px 20px;
    background-color:rgb(78, 44, 44);
}


footer {
    background-color: rgb(78, 44, 44);
    /*padding: 0px;*/
    /*position:fixed;*/
    /*top: 0px;*/
    /*z-index: 9;*/
    width: 100%;
    display: inline-flex;
}

footer nav.menuFooter{
    width: 35%;
}

footer div.logoFooter{
    padding: 10px;
    position: relative;
    width: 30%;

}

footer nav.menuFooter ul li{
    /*display: inline;*/
    margin: 0 20px;
    /*background-color: black;*/
}

footer nav.menuFooter ul li a{
    color: white;
    text-decoration: none;
}



/***************/
/**SERVICIOSPRODUCTOS***/  /**PROYECTOS***/

/***SECTION CUESHPO***/

/*section div#SP{
background-color: black;

}*/

/*SERVICIOS Y PRODUCTOS foto izquierda. Y PROYECTOS*/
section div#SP div#spL,
section div#PRY div#pryL{
/*background-color: rgb(179, 179, 180);*/
display: inline-flex;
width: 80%;
padding-left: 20px;
padding-top: 20px;
margin: 20px 0 20px 10%;
}

section div#SP div#spL div.imaLeft,
section div#PRY div#pryL div.imaLeft{
    background-color: rgb(151, 144, 144);
    float: left;
    padding: 10px 20px;
    width: 25.3%; 
}

section div#SP div#spL div.txtRight,
section div#PRY div#pryL div.txtRight{
    background-color: rgb(151, 144, 144);
    /*float: left;*/
    padding: 10px 20px;
    width: 63.3%; 
}

/**Servicios foto derecha */
section div#SP div#spR {
    /*background-color: blue;*/
    display: inline-flex;
    width: 80%;
    padding-left: 20px;
    padding-top: 20px;
    margin: 20px 0 20px 10%;
        
    }
    
    section div#SP div#spR div.imaRight{
        /*background-color: blue;*/
        float: left;
        padding: 10px 20px;
        width: 15.3%; 
    }
    
    section div#SP div#spR div.txtLeft{
       /* background-color: blue;*/
        /*float: left;*/
        padding: 10px 20px;
        width: 65.3%; 
    }


    /******/
    /**NOSOTROS**SECTION** QSOMOS*/
section div.qSomos{
   /* background-color: lightgrey;*/
    text-align: center;
    padding: 50px 10% 55px 10%;
}

section div.qSomos p{
    padding-top: 20px;
    text-align: center;
}
section div.qSomos div.logoQsomos{
    text-align: center;
    padding: 10px 10px 10px 10px;
}

section div.mapaQsomos{
    padding: 20px 0 30px 0;
    text-align: center;
}


/***********/
/***********/
/*COTIZACION*/

/**INDEX**SECTION** COTI*/
section div.cotizProdServ{
    /*background-color: lightgrey;*/
    text-align: center;
    padding: 50px 0 55px 0;
}

section div.cotizProdServ form{
    padding-top: 20px;
    text-align: center;
}
section div.cotizProdServ form #boton{
    background-color: orangered;
    border-color: rgb(8, 8, 8);
    border-radius: 20%;
    text-align: center;
    padding: 10px 10px 10px 10px;
}