

/**INDEX**FOOTER*/
footer{
    /*background-color: black;*/
    
    padding: 20px 20px 35px 20px;
    background-color:rgb(78, 44, 44);
}


footer {
    background-color: rgb(78, 44, 44);
    width: 100%;
    display: inline-flex;
    color:white;

    p{
        color: white;
    }

    nav.menuFooter{
        width: 35%;
    }

    div.logoFooter{
        padding: 10px;
        position: relative;
        width: 30%;
    
    }

    nav.menuFooter ul li{
        margin: 0 20px;

        a{
            color: white;
            text-decoration: none;
        }
    }

    
}


footer{
    figure a.logofoot img{
        border:rgb(8, 8, 8) 2px solid;
        margin: 8px 0 10px 0;
        /*box-shadow: 12px 5px 5px rgba(24, 23, 23, 0.65);*/
        /*box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;*/
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.32) 0px -12px 30px, rgba(0, 0, 0, 0.32) 0px 4px 6px, rgba(0, 0, 0, 0.37) 0px 12px 13px, rgba(0, 0, 0, 0.29) 0px -3px 5px;
        

        transition: all 1s;
    }

    figure:hover img{
        
       /* -webkit-filter: grayscale(60%) blur(3px);
        filter: grayscale(60%) blur(3px);*/
        
        
    }

    figure a img:hover{
       /* -webkit-transform: rotate(360deg);
        transform: rotate(360deg);*/
        /*transform: rotate(185deg);
        //transform: scale(2,3)
        transition: 1s all ;*/
    }

    figure img:hover{
        border-radius:50%;
        -webkit-border-radius:50%;
        box-shadow: 0px 0px 15px 15px #ec731e;
        -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        
        }
}

/*footer a.logofoot img:hover {-webkit-transform:scale(1.3);transform:scale(1.3);}
.contenedor {overflow:hidden;}

footer a .img:hover {-webkit-transform: rotate(360deg);transform: rotate(360deg);}

footer a:hover{
    transform:scale(1.3);transform:scale(1.3);
}*/

/* footer nav.menuFooter{
    width: 35%;
}

footer div.logoFooter{
    padding: 10px;
    position: relative;
    width: 30%;

}

footer nav.menuFooter ul li{
    
    margin: 0 20px;
   
}

footer nav.menuFooter ul li a{
    color: white;
    text-decoration: none;
} */